/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header .header-img {
  width: 100%;
}
.header .more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-row-wrapper {
  display: flex;
}
.control-list {
  margin:0;
  padding: 0px;
}
.control-list-item, h3 {
  list-style:none;
}
input,button{
  outline:none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
h3,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-text:focus {
  color: #333;
}

/* New Task */
#adding-section .item-label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
#adding-section > .button-add:hover {
  color: #0fc57c;
}

/* Task list */
.control-list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-list-item > * {
  vertical-align: middle;
}

.control-list-item > .input-checkbox {
  margin: 0 10px;
}
.control-list-item > .item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.control-list-item >    .input-text {
  width: 226px
}
.control-list-item > .delete:hover {
  color: #cf2323;
}
.delete .button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete .button-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .item-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.control-list .control-list-item .input-text {
  display:none
}

.control-list .edit-mode .input-text {
  display:inline-block;
  width:224px
}

.control-list .edit-mode .item-label {
  display:none;
}